#what_we_do > div:last-child {
  width: 1138px;
}
#what_we_do > div:last-child div.grid {
  display: grid;
  grid-template-columns: 292px 292px 554px;
  grid-template-rows: 110px auto;
  align-items: start;
}
#what_we_do > div:last-child div.grid > div:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
}
#what_we_do > div:last-child div.grid > div:nth-child(2) {
  grid-column: 3;
  grid-row: 1 / span 2;
  padding-top: 10px;
}
#what_we_do > div:last-child div.grid > div:nth-child(3),
#what_we_do > div:last-child div.grid > div:nth-child(4) {
  text-align: left;
  font-size: 14px;
  line-height: 30px;
}
#what_we_do > div:last-child div.grid > div:nth-child(3) ul,
#what_we_do > div:last-child div.grid > div:nth-child(4) ul {
  list-style-image: url('../images/_.svg');
  padding-left: 15px;
  padding-top: 25px;
}
#advantages {
  width: 1106px;
  margin-top: 150px;
}
#advantages > div {
  grid-template-columns: 224px 224px 224px 224px;
  grid-template-rows: 195px;
  grid-gap: 70px;
}
#advantages > div > div {
  text-align: center;
  position: relative;
}
#advantages > div > div ion-icon {
  font-size: 60px;
  color: #9a9a9a;
}
#advantages > div > div p.heading {
  font-size: 18px;
  line-height: 30px;
  margin: 10px 0;
}
#advantages > div > div p.text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}
#price {
  margin-bottom: 120px;
}
#price > div:nth-child(2) {
  width: 1140px;
  text-align: left;
}
#price > div:nth-child(2) > div {
  border-top: solid 5px #7beec7;
  float: left;
  width: 300px;
  height: 430px;
  padding: 30px;
  margin-right: 30px;
}
#price > div:nth-child(2) > div:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}
#price > div:nth-child(2) > div ul {
  list-style-image: url('../images/_.svg');
  padding-left: 15px;
  line-height: 36px;
}
#price > div:nth-child(2) > div:last-child {
  margin-right: 0;
}
#price > div:nth-child(2) > div div:first-of-type {
  width: 165px;
  height: 30px;
  background-color: #7beec7;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 40px;
}
#price > div:nth-child(2) > div div.button {
  height: 50px;
  width: 135px;
  cursor: pointer;
  margin-top: 50px;
}
@media all and (max-width: 1190px) {
  #what_we_do > div:last-of-type {
    width: 584px;
  }
  #what_we_do > div:last-of-type div.grid {
    grid-template-columns: 292px 292px;
    grid-template-rows: 110px auto;
    align-items: start;
  }
  #what_we_do > div:last-of-type div.grid > div:nth-child(1) {
    text-align: center;
  }
  #what_we_do > div:last-of-type div.grid > div:nth-child(2) {
    display: none;
  }
  #what_we_do > div:last-of-type div.grid > div:nth-child(3),
  #what_we_do > div:last-of-type div.grid > div:nth-child(4) {
    margin-left: 85px;
  }
  #advantages {
    width: 470px;
    margin-top: 100px;
  }
  #advantages > div {
    grid-template-rows: 195px 195px;
    grid-template-columns: 225px 225px;
    grid-gap: 20px;
  }
  #price {
    margin-bottom: 70px;
  }
  #price > div:nth-child(2) {
    width: 300px;
  }
  #price > div:nth-child(2) > div {
    width: 270px;
    height: 360px;
    padding: 30px;
    margin-right: 0;
    margin-bottom: 15px;
  }
  #price > div:nth-child(2) > div div:first-of-type {
    margin-bottom: 20px;
  }
  #price > div:nth-child(2) > div div.button {
    margin-top: 20px;
  }
  #price > div:nth-child(2):last-child {
    margin-bottom: 0;
  }
}
@media all and (max-width: 600px) {
  #what_we_do > div:last-child {
    width: 292px;
  }
  #what_we_do > div:last-child div.grid {
    grid-template-columns: 292px;
    grid-template-rows: auto auto auto;
    align-items: start;
  }
  #what_we_do > div:last-child div.grid > div:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  #what_we_do > div:last-child div.grid > div:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }
  #what_we_do > div:last-child div.grid > div:nth-child(3) ul {
    padding: 0;
  }
  #what_we_do > div:last-child div.grid > div:nth-child(4) {
    grid-column: 1;
    grid-row: 3;
  }
  #what_we_do > div:last-child div.grid > div:nth-child(4) ul {
    padding: 0;
  }
  #advantages {
    width: 225px;
    margin-top: 50px;
  }
  #advantages > div {
    grid-template-rows: 195px 195px 195px 195px;
    grid-template-columns: 225px;
    grid-gap: 20px;
  }
  #price > div:nth-child(2) > div {
    border: solid 5px #7beec7;
    width: 230px;
    height: 430px;
    padding: 20px;
    margin: 0 auto 15px;
    float: none;
  }
  #price > div:nth-child(2) > div ul {
    list-style-image: url('../images/_.svg');
    padding-left: 15px;
    line-height: 36px;
  }
  #price > div:nth-child(2) > div:last-child {
    margin: 0 auto 15px;
  }
}
